* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
}

header h1 {
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    color: black;
}

.container {
    width: 70%;
    margin: 5px auto;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.slide-copy h2 {
    margin: 5px auto;
    font-family: 'Cinzel', serif;
}

img {
    width: 642px;
    height: 359px;
    border-radius: 15px;
}

.slider {
    color: white;
    text-align: center;
    width: 690px;
    height: 500px;
    background-color: black;
    border: 2px solid red;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    /* float: left; */
    position: relative;
    margin: 0px auto;
}

#prev,
#next {
    cursor: pointer;
    color: black;
    font-size: 58px;
    background-color: green;
    padding: 10px;
}

#prev:hover,
#next:hover {
    color: white;
    transition: 0.6s;
}

#prev {
    position: absolute;
    left: 22%;
    top: 46%;
    z-index: 1;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#next {
    position: absolute;
    right: 22%;
    bottom: 40%;
    z-index: 1;
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slide-copy {
    margin: 10px;
}